@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Philosopher:wght@700&display=swap');


:root {
    --primary: #21a6ff;
}

* {
    margin: 0px;
    padding: 0px;
    top: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.catogary::-webkit-scrollbar {
    display: none;
}

.catogary {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.font{
    font-family: 'Montserrat', sans-serif;
}
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.centreh {
    display: flex;
    align-items: center;
}

.centrev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mcentreh{
    margin-left: auto;
    margin-right: auto;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

button{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background: none;
    column-gap: 5px;
    border: none;
    transition: all 0.1s ease;
}

button:active{
    transform: scale(0.95);
}

li{
    display: flex;
    align-items: center;
    font-weight:700;
    column-gap: 11px;
    padding: 8px 0px;
}

li:hover{
    transform: scale(1.1);
    text-decoration:underline;
    text-decoration-thickness: 2.2px ;
}
