
nav {
    display: grid;
    grid-template-columns: 306px auto 252px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 7px 103px;
    column-gap: 15px;
    border-bottom: 2px solid var(--primary);
}

li{
    display: flex;
    align-items: center;
    font-weight:700;
    column-gap: 11px;
    padding: 8px 0px;
}

li:hover{
    transform: scale(1.1);
    text-decoration:underline;
    text-decoration-thickness: 2.2px ;
}
.logo {
    justify-self: flex-start;
    color: var(--primary);
    font-size: 23px;
    font-family: 'Philosopher', sans-serif;
}

.quickaction {
    grid-column: 3;
    justify-self: center;
    column-gap: 15px;
}

.action {
    letter-spacing: 2px;
    font-size: 9px;
    row-gap: 3px;
}

.search {
    height: 40px;
    grid-row: 1/1;
    grid-column: 2;
    justify-self: flex-end;
    border-radius: 6px;
    border: 1px solid var(--primary);
    column-gap: 5px;
    padding-right: 5px;
    background-color: var(--primary);
}

.search input {
    outline: none;
    border: none;
    padding: 0px 9px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.banner{
    height: 500px;
    overflow-x: scroll;
}

.banner img{
    object-fit: cover;
    object-position: center center;
}
.catogary{
    margin: 23px 143px;
    text-align: center;
    justify-content: space-between !important;
    font-size: 12px;
}

.ellipse{
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 5px solid var(--primary);
    width: 170px;
    height: 170px;
}

.ellipse img{
    padding: 9px;
    min-width: 100%;
    min-height: 100%;
    border-radius: inherit;
}

.heading{
    color: hsl(228, 94%, 13%);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 56px 0px;
}

.hsection{
    margin: 0px 150px;
    flex-wrap: nowrap;
    column-gap: 29px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.item{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0.2rem;
    min-width: 240px;
    max-width: 240px;
    border: 1px solid rgb(131, 127, 127);
    height: 360px;

}

.addtowishlist{
    position: absolute;
    z-index: 1;
    padding: 5px;
    background-color: rgba(235,235,235,0.1);
    width: fit-content;
    box-shadow: 0px 0px 1px;
    border-radius: 100%;
    top: 9px;
    right: 9px;
}


.prdtimg {
    position: relative;
    padding-top: 6px;
    height: 235px;
}
.prdtname{
    position: relative;
    font-size: large;
    font-weight: bold;
    top: 9px;
    left: 7px; 
}
.price{
    position: relative;
    top: 12px;
    left: 7px; 
    font-size: 22px;
    font-weight: bolder;
}


.addtocart{
    margin-top: auto;
    margin-bottom: 3px;
    width: 96%;
    height: 50px;
    font-size: 10px;
    color: white;
    justify-content: center;
    border-radius: inherit;
    background-color: var(--primary);
}

.explore-more{
    color: white;
    background-color: rgba(33,166,255,0.9);
    font-weight: bolder;
    font-size: 14px;
    width: fit-content;
    padding: 10px;
    border: 1px solid;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 60px;
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 70px auto auto;
    color: white;
    background-color: var(--primary);
    /* padding-left: 35px; */
    align-content: center ;
    justify-items: center;

}

.aboutus{
    grid-column: 1;
    grid-row: 2;
}
.Info{
    grid-column: 2;
    grid-row: 2;
}

.contactus{
    grid-column: 3;
    grid-row: 2;
}

.socialmedia{
    grid-column: 2;
    grid-row: 3;
    margin: 75px 0px;
    color: white;
    font-size: 25px;
    font-weight:bolder;
    justify-self: stretch;
}

.sicon ul{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    padding: 20px 0px;
}