* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.font{
    font-family: 'Montserrat', sans-serif;
}
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.centreh {
    display: flex;
    align-items: center;
}

.centrev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mcentreh{
    margin-left: auto;
    margin-right: auto;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

button{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background: none;
    column-gap: 5px;
    border: none;
    transition: all 0.1s ease;
}

button:active{
    transform: scale(0.95);
}