@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poiret+One&display=swap');

.main-content {
  background: #21a6ff;

  /* background: #edf8f6; */
}

:root {
  --stc: #21a6ff;
  --ptc: #1E6AE1;
  --ttc: #4E6473;
  --qtc: #A19797;
  --vtc: #F22C2C;
  --htc: #F2F22C;
  --cback: #E6F4F1;
}

* {
  margin: 0;
  border: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}


.top {
  background-color: var(--stc);
  margin: auto;
  min-width: 100%;
  min-height: 6rem;
  display: flex;
  position: fixed;
  color: white;
  
}

#logo {
  margin: auto;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  min-height: 2vh;
  align-items: center;
  font-weight: 900;
  letter-spacing: 1vw;
}

#ra{
  padding-left: 3rem ;
}
#je{
  padding-right: 3rem ;
}
#logom {
  height: 5rem;
}



.banner {
  display: inline-flex;
  width: 100%;
  margin-top: 14dvh;
  padding-bottom:19px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  min-height: 390px;
}

.banner img {
  min-width: 100%;
  min-height: 390px;
  border: 2px solid black;
}

.itemframe{
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  margin: 0px auto;
  background-color: white;
  opacity: 0.9;
  padding: 33px 15px;
  width: 97%;
  border-radius: 20px;
}

.cat {
  display: flex;
  column-gap: 120px;
  justify-content: center;
}

.cat div{
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: 'Poiret one', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cat img{
  border-radius: 100%;
}

#title {
  font-size: 2rem; 
  font-family: 'Poiret one', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:center;
  letter-spacing: 10px;
}

.item {
  margin-right: 22px;
  margin-left: 22px;
  display: block;
  min-width: 150px;
  min-height: 200px;
  max-width: 150px;
  background: white;
  border: 1px solid black;
  
}

.item img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 140px;
  height: 140px;
  padding: 4px 0px;
}


#pname { 
  font-size: 19px;
  font-weight: 900;
  font-family: 'Poiret one', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding: 15px 0px;
  text-align:center;
}

.TS {
  padding: 18px 0px;
  display: flex;
  margin-right: 2px;
  margin-left: 2px;
  overflow-x: scroll;
  white-space: nowrap;
  align-items: center;
}
.RS {
  padding: 18px 0px;
  display: flex;
  margin-right: 2px;
  margin-left: 2px;
  overflow-x: scroll;
  white-space: nowrap;
  align-items: center;
} 
.CO {
  padding: 18px 0px;
  display: flex;
  margin-right: 2px;
  margin-left: 2px;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
}