.mainnav {
  display: grid;
  position: sticky;
  grid-template-columns: 26vw 50vw 18vw;
  top: 0;
  z-index: 2;
  padding: 18px 1vw;
  column-gap: 15px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid var(--primary);
}

.option {
  display: none;
}

.logo {
  grid-column: 1;
  color: var(--primary);
  font-size: 1.2rem;
  column-gap: 3px;
}

.quickaction {
  grid-column: 3 / end;
  justify-self: center;
  column-gap: 15px;
  * img {
    height: 3rem;
  }
}

.sidenav > * {
  display: none;
}
.action {
  letter-spacing: 2px;
  font-size: 9px;
  row-gap: 9px;
}

.search {
  grid-row: 1;
  grid-column: 2;
  height: 45px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid var(--primary);
  background-color: var(--primary);

  * img {
    height: 2rem;
    padding: 4px;
    margin: 0px 5px;
  }
}
.search input {
  padding: 0px 9px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.banner {
  overflow-x: scroll;
  position: relative;
  scroll-snap-type: x mandatory;
}

.banner img {
  object-fit: cover;
  height: 100%;
  object-position: center center;
}

.catogary {
  margin: 23px 0vw;
  text-align: center;
  height: 15rem;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
}

.catogary h1 {
  font-size: 2rem;
}

.Btn {
  display: none;
}

.ellipse {
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 5px solid var(--primary);
  width: 10rem;
  height: 10rem;
}

.ellipse img {
  padding: 5px;
  min-width: 100%;
  min-height: 100%;
  border-radius: inherit;
}

.heading {
  color: hsl(228, 94%, 13%);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 4rem 0px;
  /* position: relative; */
}

.hsection {
  margin: 0px 0.7vw;
  height: 26rem;
  flex-wrap: nowrap;
  column-gap: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.item {
  position: relative;
  align-items: stretch !important;
  border-radius: 0.2rem;
  min-width: 20vw;
  max-width: 20vw;
  height: 24rem;
  border: 1px solid rgb(131, 127, 127);
}

.heart-container {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  transition: 0.3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  position: absolute;
  margin: auto;
  inset: 2%;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

.prdtimg {
  position: relative;
  padding-top: 6px;
  height: 16rem;
}

.prdtname {
  position: relative;
  font-size: large;
  font-weight: bold;
  top: 9px;
  left: 7px;
}

.price {
  position: relative;
  top: 12px;
  left: 7px;
  font-size: 22px;
  font-weight: bolder;
}

.addtocart {
  margin-top: auto;
  margin-bottom: 4px;
  width: 96%;
  height: 3rem;
  font-size: 10px;
  justify-content: center;
  border-radius: inherit;
  color: white;
  background-color: var(--primary);
}

.explore-more {
  font-weight: bolder;
  font-size: 14px;
  width: fit-content;
  padding: 10px;
  border: 1px solid;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 60px;
  color: white;
  background-color: rgba(33, 166, 255, 0.9);
}

.yue {
  display: grid;
  grid-template-areas:
    "head sec1"
    "sec2 sec2 ";
  background-color: var(--primary);
  padding: 15px;
  letter-spacing: 2px;
  row-gap: 15px;
  height: 35rem;
}

.head {
  align-self: center;
  color: white;
  font-weight: bolder;
  font-size: 1.7rem;
  row-gap: 23px;
  width: 45vw;
}

.head button {
  background-color: #ffffff;
  letter-spacing: 2px;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 7px;
}

.sec {
  overflow: scroll;
  column-gap: 15px;
  flex-wrap: nowrap;
  min-height: 15rem;
}
.expression {
  position: relative;
  min-width: 30rem;
  min-height: 16rem;
  max-height: 16rem;
  border-radius: 15px;
  color: #ffffff;
  background-color: #000000;
}
.descrp {
  background-color: rgba(247, 247, 247, 0.247);
  min-height: 0px;
  width: 0px;
  overflow: hidden;
}

.descrp.expanded {
  display: inline-block;
  min-height: inherit;
  min-width: 30rem;
  border-radius: 10px;
  transition: min-height 0.4s ease;
}

.descrp.expanded h2,
p {
  padding: 15px;
}

.exphead.expanded {
  display: none;
}

.descrpbtu {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: small;
  font-weight: 100;
  cursor: pointer;
  padding: 15px;
  align-self: flex-end;
}

.occasion-container {
  display: grid;
  grid-template-areas:
    "oc1 oc1"
    "oc2 oc3"
    "oc4 oc4";
  padding: 10px;
  margin: 0 auto;
  gap: 8px;
  min-height: 71rem;
}

.occasion {
  position: relative;
  height: 20rem;
  width: 23rem;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0) !important;
  border: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  color: #ffffff;
}

.occasion::before {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: 100%;
  opacity: 50%;
}

.o1 {
  grid-area: oc1;
  min-height: 6rem;
}

.o4 {
  grid-area: oc4;
}

.o1::before {
  background-image: url(/icons/occasion/bg-1.jpeg);
  background-position: center;
}

.o2::before {
  grid-area: oc2;
  background-image: url(/icons/occasion/bg-2.jpeg);
  background-position: bottom;
}

.o3::before {
  grid-area: oc3;
  background-image: url(/icons/occasion/bg-3.jpeg);
}

.o4::before {
  background-image: url(/icons/occasion/bg-4.jpeg);
  background-position: bottom;
}

.budget {
  display: grid;
  grid-template-areas: "card1 card2 card3 card4 card5";
  row-gap: 7px;
  height: 20rem;
  justify-items: center;
  padding: 0px 9px;
  column-gap: 7px;
  color: white;
}

.budget-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  max-width: 15vw;
  font-size: 0.7rem;
  overflow: hidden;
  border: 9px double #e5b80b;
  background-color: hsl(228, 94%, 13%);
}
.gsec {
  display: flex;
  flex-wrap: wrap;
  min-height: 12rem;
  gap: 9px;
  margin: 5vw 0;
  justify-content: center;
}
.box {
  text-align: center;
  display: flex;
  position: relative;
  height: 15rem;
  width: 15rem;
}
.box img {
  height: 100%;
  width: 100%;
}
.box h2 {
  position: absolute;
  letter-spacing: 3px;
  color: white;
  margin: auto;
  inset: 0px;
  bottom: -100px;
  height: 0;
  align-self: center;
}

footer {
  display: grid;
  grid-template-rows: auto 20rem;
  margin-top: 20px;
  padding-top: 8vh;
  color: white;
  background-color: var(--primary);
}

.links {
  grid-row: 1;
}

.footlink li {
  display: flex;
  align-items: center;
  font-weight: 700;
  column-gap: 11px;
  padding: 8px 0px;
}

.footlink li:hover {
  transform: scale(1.1);
  text-decoration: underline;
  text-decoration-thickness: 2.2px;
}

.socialmedia {
  grid-column: 2;
  grid-row: 2;
  margin: 7rem 0px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}

.sicon ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

@media screen and (max-width: 990px) {
  .links li:hover {
    transform: none;
    text-decoration: none;
    text-decoration-thickness: none;
  }

  .mainnav {
    grid-template-columns: 12vw 65vw 20vw;
    grid-template-rows: 3rem 3.5rem;
    column-gap: 0vw;
    row-gap: 5px;
    padding: 6px 4px;
    justify-content: flex-end;
  }

  .option {
    display: block !important;
    * img {
      height: 2rem;
    }
  }

  #acc {
    display: none;
  }

  .logo {
    grid-column: 2/3;
    font-size: 0.7rem;
    letter-spacing: 2px;
  }

  .logo img {
    height: 3.5rem;
    width: 3.5rem;
  }

  .quickaction {
    grid-column: 3 / end;
    column-gap: 10px;
    * img {
      height: 1.8rem;
    }
  }
  .search img {
    height: 2rem;
  }
  .sidenav > * {
    display: block;
  }
  .sidemenu {
    position: fixed;
    background-color: var(--primary);
    color: #ffffff;
    width: 60%;
    height: 100%;
    overflow: hidden;
    z-index: 9;
    transition: width 0.1s ease;
  }

  .optionnav {
    inset: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    row-gap: 28px;
    height: fit-content;
    width: 100%;
    position: absolute;
  }
  .account {
    border-bottom: 1px solid white;
    height: 70px;
    padding: 40px 10px !important;
  }
  .navs {
    column-gap: 7px;
    padding: 0px 10px;
    font-size: larger;
  }

  .catnav {
    & li {
      padding: 1.6vh 44px;
    }
  }
  .catnav[open] {
    & summary svg {
      transform: rotate(90deg);
    }
  }
  .footnav {
    display: flex;
    border-top: 1px solid white;
    position: absolute;
    flex-direction: column;
    top: 85%;
    height: fit-content;
    padding-top: 10px;
    row-gap: 10px;
  }

  .search {
    grid-row: 2;
    grid-column: 1 / end;
    height: 45px;
    width: 95%;
    align-self: center;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
  }

  .search input {
    padding: 0px 9px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .search img {
    padding: 4px;
    margin: 0px 5px;
    min-width: 3vw;
    min-height: 3vw;
  }

  .banner {
    object-fit: contain;
    min-height: 15rem;
  }

  .banner img {
    min-height: 15rem;
  }

  .catogary {
    padding: 0px 4vw;
    margin: 0px;
    height: 9rem;
    min-width: 100%;
    column-gap: 9%;
    justify-content: space-between;
    scroll-behavior: smooth;
  }
  .catogary h1 {
    font-size: 1rem;
  }

  .Btn {
    display: flex;
    position: absolute;
    min-width: 2.3rem;
    height: 2.3rem;
    top: 30%;
    z-index: 1;
    background-color: rgb(9, 129, 241);
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
  }

  .ellipse {
    height: 6rem;
    width: 6rem;
    border: 0.2rem solid var(--primary);
  }

  .ellipse img {
    padding: 1px;
  }
  .heading {
    margin-top: 2.8rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .occasion-container {
    min-height: 30rem;
  }

  .occasion {
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .occasion:hover {
    transform: none;
  }

  .hsection {
    margin-left: 0px;
    margin-right: 0px;
    column-gap: 0.5rem;
    padding: 0px 2vw;
    height: 21rem;
  }

  .item {
    min-width: 12.5rem;
    max-width: 12.5rem;
    height: 20rem;
  }

  .prdtimg {
    height: 12rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .addtocart {
    height: 2.5rem;
  }

  .yue {
    display: flex;
    overflow: scroll;
    column-gap: 0.5rem;
    height: 17.8rem;
  }

  .expression {
    min-width: 17rem;
    text-align: center;
  }
  .descrpbtu {
    bottom: 0;
  }
  .descrp.expanded {
    min-width: 18rem;
    justify-self: center;
  }
  .head {
    margin: 8px;
    font-size: larger;
  }

  .head button {
    font-size: 1.2rem;
  }

  .sec {
    overflow: visible;
    padding: 0;
  }

  .shopbyoccasion div {
    min-width: 20rem;
    overflow-x: hidden;
  }

  .budget {
    grid-template-areas:
      "card1 card1 card2"
      "card1 card1 card3"
      "card4 card5 card5";
    overflow-x: scroll;
    height: 30rem;
  }

  .budget-card {
    max-width: 100%;
  }

  .gsec {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .box {
    height: 40vw;
    width: 40vw;
  }
  .box h2 {
    font-size: 5vw;
    bottom: -45px;
  }
  footer {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    padding-top: 4vh;
    justify-content: flex-start;
  }

  .links {
    padding-left: 3vw;
    margin: 0px !important;
  }

  .socialmedia {
    margin-top: 4vh;
    margin-bottom: 0px;
  }
}
