@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Philosopher:wght@700&display=swap");

:root {
  --primary: #21a6ff;
  --secdetail: #807676;
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#posrel {
  position: relative;
}

#posabso {
  position: absolute;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.noscroll::-webkit-scrollbar {
  display: none;
}
.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.gsec::-webkit-scrollbar {
  display: none;
}

.gsec,
.sec,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-head {
  font-family: "Philosopher", sans-serif;
}

.font {
  font-family: "Montserrat", sans-serif;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
.dnone {
  /* display: none; */
  width: 0 !important;
  padding: 0 !important;
}
.centre {
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centreh {
  display: flex;
  align-items: center;
}

.centrev {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mcentreh {
  margin-left: auto;
  margin-right: auto;
}

.start {
  justify-content: flex-start;
}

.end {
  margin-left: auto;
}

button {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  background: none;
  column-gap: 5px;
  border: none;
  transition: all 0.1s ease;
}

button:active {
  transform: scale(0.95);
}
